.items-listed__wrapper {
  padding: 40px 60px;
  .list-item {
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    &__price {
      font-weight: 600;
    }

    &__name,
    &__category,
    &__price {
      padding: 5px 0;
      font-size: 20px;
      line-height: 26px;
    }

    &__content {

    }

    &__image-wrapper {
      width: 280px;
      height: 320px;

      img {
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .items-listed {
    &__wrapper {
      width: 100% !important;
    }
  }
}
